<div class="container  p-4">

    <div class="row m-2">
        <div class="col-md-6">
            <h3>List of my Money Accounts</h3>
            <h4>To Deposit your Incomes </h4>
            <h4>To Manage Expense</h4>
        </div>
         <div class="col-md-3 p-2" style="text-align: right;">
            <div class="card text-center">
                <a href="/api/accounts/create">
                    <p><i class="fas fa-edit fa-5x m-2"></i></p>
                    <div class="card-body">
                    <h3 class="card-title">Check Historial</h3>
                    </div>
                </a> 
            </div>
        </div>
        <div class="col-md- p-2" style="text-align: right;">
            <div class="card text-center">
                <a href="/api/accounts/create">
                    <p><i class="fas fa-plus-circle fa-5x m-2"></i></p>
                    <div class="card-body">
                    <h3 class="card-title">New Account</h3>
                    </div>
                </a> 
            </div>
        </div>
    </div>
    <div class="row m-2">

        {{#each accounts}}
            <div class="col-md-3 p-2">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="/api/accounts/show/{{id}}">
                          
                            {{#ifvalue type equals="Cash Wallet"}}<p><i class="far fa-money-bill-alt fa-3x m-2"></i></p>{{/ifvalue}}
                            {{#ifvalue type equals="Debit Card"}}<p><i class="fas fa-money-check-alt fa-3x m-2"></i></p>{{/ifvalue}}
                            {{#ifvalue type equals="Credit Card"}}<p><i class="far fa-credit-card fa-3x m-2"></i></p>{{/ifvalue}}
                            {{#ifvalue type equals="Check Account"}}<p><i class="fas fa-money-check fa-3x m-2"></i></p>{{/ifvalue}}
                            
                            <h3 class="card-title text-uppercase">
                                {{name}}
                            </h3>
                        </a>
                        <p class="m-2"> {{details}} </p>
                    {{!--     <p>Last Update:</p>
                        <p>{{timeago createdAt}} </p> --}}
                        <h3 class="card-title">{{balance}} </h3>
                        <form style="display: inline-block" action="/api/accounts/{{id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <form style="display: inline-block" action="/api/accounts/edit/{{id}}">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                       
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not Accounts created yet</p>
                    <a href="/api/accounts/create">Create one</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>